body {
    background-color: rgb(1, 45, 128);
}

header {
    text-align: center;
    background-color: blueviolet;
    color: white;
}

#creatormark {
    position: relative;
    text-decoration: none;
    color: wheat;
    float: right;
    bottom: 1.2cm;
    right: 10px;
    font-size: 20px
}

#content-box {
    margin: auto;
    background-color: darkgreen;
    width: 14cm;
    text-align: center;
    color: white;
    border-radius: 2px;
    border: ridge 2px black;
    box-shadow: rgba(0, 0, 0, 0.319) 3px 3px 1px;
    resize: none;
}

.btn {
    border-color: black;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
}

input, textarea {
    color: black;
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 12px;
    margin-bottom: 6px;
}

#token {
    font-size: 16px;
    width: 10cm;
}

#channel {
    font-size: 18px;
}

#message {
    resize: none;
    font-size: 16px;
    width: 10cm;
}