body {
    background-color: rgb(1, 45, 128);
}

header {
    text-align: center;
    background-color: blueviolet;
    color: white;
}


#content-box {
    background-color: darkgreen;
    margin: auto;
    resize: none;
    width: 14cm;
    text-align: center;
    color: white;
    border-radius: 2px;
    border: ridge 2px black;
    box-shadow: rgba(0, 0, 0, 0.319) 3px 3px 1px;
}

#creatormark {
    position: relative;
    text-decoration: none;
    color: wheat;
    float: right;
    bottom: 1.2cm;
    right: 10px;
    font-size: 20px
}

.btn {
    border-color: black;
    margin-bottom: 8px;
}

label {
    font-size: 22px;
}

input, textarea {
    color: black;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 6px;
    border-radius: 4px;
}

#url {
    font-size: 16px;
    width: 12cm;
}

.form-check-input {
    font-size: 20px;
}

#message {
    resize: none;
    font-size: 18px;
    width: 10cm;
    height: 3cm;
}


@media (max-width: 700px) {
    #header {
        width: 3cm;
    }
    #content-box {
        width: 7.4cm;
    }
    #url {
        width: 7cm;
        font-size: 18px;
    }
    #message {
        width: 7cm;
        font-size: 20px;
    }
    #creatormark {
        float: none;
        position: relative;
        bottom: 3px;
        left: 2px;
    }
}